<!DOCTYPE html>
<html>
  <head>
    <title>Usersexample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !current_owner %>
      <div class="sign-in-out" id="sign-in">
        <%= link_to "Sign In", new_owner_session_path %>
    <% else %>
      <div class="sign-in-out" id="sign-out">
        <%= link_to "Sign Out", destroy_owner_session_path, method: :delete %>
    <% end %>
      </div>
    <%= yield %>
  </body>
</html>
